/* Base */

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  min-width: 1200px;
}

li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a:link {
  text-decoration: none;
}

/* Utility components */

.top-content,
footer {
  background-color: #1f2937;
}

.btn {
  width: 150px;
  height: 40px;
  background-color: #3882f6;
  border: 2px solid;
  border-radius: 8px;
  font-size: 18px;
  font-weight: 900;
  padding: 4px 32px 4px 32px;
}

/* Header */
header {
  margin: 0 18rem;
}

.header__items {
  margin: 0;
  padding: 12px;
  display: flex;
  align-items: center;
  gap: 32px;
}

.header__logo {
  flex-shrink: 0;
  margin-right: auto;
  font-size: 24px;
  color: #f9faf8;
}

.header__link {
  flex-shrink: 0;
}

.header__link a {
  font-size: 18px;
  color: #e5e7eb;
}

/* Hero */
.hero {
  margin: 5rem 18rem 5rem 18rem;
  display: flex;
  justify-content: space-between;
}

.hero__left {
  flex: 1;
  padding-right: 64px;
}

.hero__right {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

h1 {
  margin: 0;
  font-size: 48px;
  color: #f9faf8;
  font-weight: 900;
}

.hero__text {
  margin: 14px 0;
  font-size: 18px;
  color: #e5e7eb;
}

.hero__btn {
  border: none;
}

.hero__img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

/* Information Cards  */
.info {
  margin: 0 22rem 5rem 22rem;
}

h2 {
  font-size: 36px;
  color: #1f2937;
  font-weight: 900;
  text-align: center;
}

.info__cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.info__fig {
  margin: 0px;
}

.info__fig--img {
  border: 4px solid;
  border-radius: 18px;
  max-width: 150px;
  max-height: 150px;
}

.info__fig--caption {
  text-align: center;
  max-width: 150px;
  max-height: 150px;
}

/* Quote Section */
.quote {
  margin: 0;
  background-color: #e5e7eb;
}

.quote__content {
  margin: 5rem 22rem 5rem 22rem;
}

.quote__text {
  text-align: justify;
  font-style: italic;
  font-size: 36px;
  color: #1f2937;
  font-weight: 300;
}

.quote__autor {
  font-size: 20px;
  text-align: right;
  font-weight: 900;
}

/* Call to Action Section */
.cta {
  min-width: 676px;
  margin: 4rem 18rem 4rem 18rem;
  padding: 2rem 3rem;
  border-radius: 14px;
  background-color: #3882f6;
  display: flex;
  justify-content: space-around;
}

h3 {
  margin: 0;
  font-size: 24px;
  color: #f9faf8;
}

.cta__text {
  margin: 0;
  font-size: 18px;
  color: #e5e7eb;
}

/* Footer */
h4 {
  text-align: center;
}
